<h1 id="about_me"><%=t(:about)%></h1>

<table class="about-table">
	<thead>
		<th><%=t(:contact)%></th>
	</thead>
	<tbody>
		<tr>
			<td>Email:</td>
			<td>baranska.n@gmail.com
			<a href="mailto:baranska.n@gmail.com" class="email-btn"><%= t(:email_me) %></a></td>
		</tr>
		<tr>
			<td> Instagram:</td>
			<td>@nataliabaranska
			<a href="https://www.instagram.com/nataliabaranska/" class="insta-btn"><%= t(:follow_me) %></a>
		</tr>
	</tbody>
</table>

<%= render partial: "about" %>
