  <% if @blueprint.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t "blueprints.edit.error_message", count: @blueprint.errors.count %>
      </h2>
      <ul>
        <% @blueprint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br />

<%= form_for @blueprint do |form| %>
  <p>
    <%= form.label :title, t(:title) %>
    <%= form.text_field :title, size: 38, class: "medium-margin-bottom" %>
  </p>

  <p>
    <%= form.label :fabric_type, t(:fabric_type) %>
    <%= form.text_field :fabric_type, size: 38, class: "medium-margin-bottom" %>
  </p>

  <p>
    <%= form.label :fabric_length, t(:fabric_length) %>
    <%= form.text_field :fabric_length, size: 20, class: "medium-margin-bottom" %>
  </p>

  <p>
    <%= form.label :instructions, t(:instructions) %>
    <%= form.text_area :instructions, size: "40x10", class: "medium-margin-bottom" %>
  </p>

  <p>
    <%= form.label :additional_comments, t(:comment) %>
    <%= form.text_area :additional_comments, size: "40x5", class: "medium-margin-bottom" %>
  </p>

  <%= link_to t(:cancel), blueprints_path, class: "back" %>

  <% if @blueprint.new_record? %>
    <%= form.submit t(:add), class: "submit-button" %>
  <% else %>
    <%= form.submit t(:update), class: "submit-button" %>
  <% end %>
<% end %>
