<div class="blueprint-details">
  <p>
    <strong><%= t(:title) %>:</strong>
    <%= @blueprint.title %>
  </p>

  <p>
    <strong><%= t(:fabric_type) %>:</strong>
    <%= @blueprint.fabric_type %>
  </p>

  <p>
    <strong><%= t(:fabric_length) %>:</strong>
    <% if @blueprint.fabric_length.present? %>
      <%= @blueprint.fabric_length %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p>
    <strong><%= t(:instructions) %>:</strong>
    <% if @blueprint.instructions.present? %>
      <%= simple_format @blueprint.instructions %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p>
    <strong><%= t(:comment) %>:</strong>
    <% if @blueprint.additional_comments.present? %>
      <%= simple_format @blueprint.additional_comments %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <%= link_to t(:cancel), blueprints_path, class: "back-btn" %>
</div>
