<p>
  <strong>Tytuł:</strong>
  <%= @blueprint.title %>
</p>
 
<p>
  <strong>Rodzaj materiału:</strong>
  <%= @blueprint.fabric_type %>
</p>

<p>
  <strong>Długość materiału:</strong>
  <%= @blueprint.fabric_length %>
</p>

<p>
  <strong>Instrukcje:</strong>
  <%= simple_format @blueprint.instructions %>
</p>

<p>
  <strong>Dodatkowy komentarz:</strong>
  <%= simple_format @blueprint.additional_comments %>
</p>

<%= link_to 'Cofnij', blueprints_path, class: "back"%>