<div class="blueprint-details">
  <h1>
    <strong><%= t(:title) %>:</strong>
    <%= @blueprint.title %>
  </h1>

  <p class="small-margin-bottom">
    <strong><%= t(:fabric_type) %>:</strong>
    <%= @blueprint.fabric_type %>
  </p>

  <p class="small-margin-bottom">
    <strong><%= t(:fabric_length) %>:</strong>
    <% if @blueprint.fabric_length.present? %>
      <%= @blueprint.fabric_length %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p class="small-margin-bottom">
    <strong><%= t(:instructions) %>:</strong>
    <% if @blueprint.instructions.present? %>
      <%= simple_format @blueprint.instructions %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p class="small-margin-bottom small-margin-top">
    <strong><%= t(:comment) %>:</strong>
    <% if @blueprint.additional_comments.present? %>
      <%= simple_format @blueprint.additional_comments %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>
  <!-- TODO -->
  <!--<%= link_to t(:cancel), blueprints_path, class: "back-btn small-margin-top" %>-->
</div>
