<div class="input-width">
  <h1>
    <strong><%= t(:title) %>:</strong>
    <%= @blueprint.title %>
  </h1>

  <p class="small-margin-bottom">
    <strong><%= t(:fabric_type) %>:</strong>
    <%= @blueprint.fabric_type %>
  </p>

  <p class="small-margin-bottom">
    <strong><%= t(:fabric_length) %>:</strong>
    <% if @blueprint.fabric_length.present? %>
      <%= @blueprint.fabric_length %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p class="small-margin-bottom">
    <strong><%= t(:instructions) %>:</strong>
    <% if @blueprint.instructions.present? %>
      <%= simple_format @blueprint.instructions %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <p class="small-margin-bottom small-margin-top">
    <strong><%= t(:comment) %>:</strong>
    <% if @blueprint.additional_comments.present? %>
      <%= simple_format @blueprint.additional_comments %>
    <% else %>
      <%= t(:not_provided) %>
    <% end %>
  </p>

  <%= link_to t(:edit), edit_blueprint_path(@blueprint), class: "action submit-form-button" %>
  <%= link_to t(:delete), blueprint_path(@blueprint),
                method: :delete,
                data: { confirm: t(:sure_delete) }, class: "action submit-form-button small-margin-top" %>
</div>
