<p>
  <strong>Title:</strong>
  <%= @blueprint.title %>
</p>
 
<p>
  <strong>Fabric type:</strong>
  <%= @blueprint.fabric_type %>
</p>

<p>
  <strong>Fabric length:</strong>
  <%= @blueprint.fabric_length %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @blueprint.instructions %>
</p>

<p>
  <strong>Additional comments:</strong>
  <%= @blueprint.additional_comments %>
</p>

<%= link_to 'Cofnij', blueprints_path %>