<!DOCTYPE html>
<html>
	<head>

	<title>Sew Incredible</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="header">
			<ul class="language-switch">
				<% I18n.available_locales.each do |locale| %>
					<li class="language<%= I18n.locale == locale ? ' active' : '' %>">
						<%= link_to locale.upcase, { locale: locale } %>
					</li>
				<% end %>
			</ul>
			<div class="container">
				<h1>Sew Incredible</h1>
				<p>by Natalia Barańska</p>
				<!-- <%= link_to t(:more), main_about_path, id: "learn_more_button" %> -->
				<% if user_signed_in? %>
					<%= link_to t(:log_out), destroy_user_session_path, method: :delete, id: "learn_more_button" %>
				<% else %>
					<%= link_to t(:log_in), new_user_session_path, id: "learn_more_button" %>
				<% end %>
			</div>
		</div>

		<div class="nav">
			<div class="container">
					<ul>
					<% if user_signed_in? %>
						<li><%= link_to t(:all_blueprints), blueprints_path %></li>
						<li><%= link_to t(:new_blueprint), new_blueprint_path %></li>
					<% end %>


						<li><%= link_to t(:about_nav), main_about_path %></li>
						<!-- User authenitication -->
						<% if user_signed_in? %>
<!-- 							<li><%= link_to t(:log_out), destroy_user_session_path, method: :delete %></li> -->
						<% else %>
<!-- 							<li><%= link_to t(:log_in), new_user_session_path %></li> -->
							<li><%= link_to t(:sign_up), new_user_registration_path %></li>
						<% end %>
					</ul>
		  	</div>
		</div>

		<div class="main">
			<div class="container">
				<%= yield %>
		    </div>
		</div>

		<div class="footer">
			<table>
				<tr>
					<td id="copyright">
						<p>&copy; Sew Incredible, 2017</p>
					</td>
					<td id="website">
						<a href="#">SewIncredible.com</a>
					</td>
					<td id="insta">
						<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/nataliabaranska">
							<img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0 />
						</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
