<!DOCTYPE html>
<html>
	<head>

	<title>Sew Incredible</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	</head>

	<body class="controller_<%= controller_name %> action_<%= action_name %>">
		<div class="header">
			<ul class="language-switch">
				<% I18n.available_locales.each do |locale| %>
					<li class="language<%= I18n.locale == locale ? ' active' : '' %>">
						<%#= link_to locale.upcase, { locale: locale } %>
						<%= link_to locale.upcase, root_path(locale: locale) %>
					</li>
				<% end %>
			</ul>
			<div class="container">
				<h1>Sew Incredible</h1>
				<p>by Natalia Barańska</p>
				<% if user_signed_in? %>
					<%= link_to t(:log_out), destroy_user_session_path, method: :delete, class: "login_button" %>
				<% else %>
					<%= link_to t(:log_in), new_user_session_path, class: "login_button" %>
				<% end %>
			</div>
		</div>

		<div class="nav">
			<div class="container">
					<ul>
						<% if user_signed_in? %>
							<li><%= link_to t(:all_blueprints), blueprints_path %></li>
							<li><%= link_to t(:new_blueprint), new_blueprint_path %></li>
						<% end %>
						<li><%= link_to t(:about_nav), main_about_path %></li>
						<li><%= link_to t(:contact), new_contact_path %></li>
						<% if !user_signed_in? %>
							<li><%= link_to t(:sign_up), new_user_registration_path %></li>
						<% end %>
					</ul>
		  	</div>
		</div>

		<!-- Flash messages -->
		<div class="main">
			<div class="container">

				<% [:success, :error, :alert, :notice].each do |type| %>
					<% if flash[type].present? %>
						<div class="flash-message <%= type %>"><%= flash[type] %></div>
					<% end %>
				<% end %>
				<%= yield %>
		    </div>
		</div>

		<div class="footer">
			<table>
				<tr>
					<td id="copyright">
						<p>&copy; Natalia Barańska, 2016-<%= Time.current.year %></p>
					</td>
					<td id="website">
						<a href="#">SewIncredible.com</a>
					</td>
					<td id="insta">
						<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/nataliabaranska">
							<img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0 />
						</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
